<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>커피추가</title>
</head>
<body>
    <h1>커피 정보 추가</h1>
    <form method="post" action="./insert">
        <label for="name">커피이름 :</label><input type="text" id="name" name="name" value=""/><br/>
        <label for="price">커피가격 :</label><input type="text" id="price" name="price" value=""/><br/>
        <label for="source">커피소스 :</label><input type="text" id="source" name="source" value=""/><br/>
        <label for="shots">커피샷 :</label><input type="text" id="shots" name="shots" value=""/><br/>
        <input type="submit" value="커피 추가"/>
    </form>
</body>
</html>