<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>검색찾기 결과</title>
</head>
<body>
    <h1>검색 찾기 결과</h1>
    <div>
        {{#data}}
        <label for="id">id : </label><span id="id" >{{id}}</span> <br />
        <label for="name">커피 이름 : </label><span id="name" >{{name}}</span> <br />
        <label for="price">커피 가격 : </label><span id="price" >{{price}}</span> <br />
        <label for="source">소스 종류 : </label><span id="source" >{{source}}</span> <br />
        <label for="shots">샷 수 : </label><span id="shots" >{{shots}}</span> <br />
        {{/data}}
        {{^data}}
        <div>데이터가 없습니다.</div>
        {{/data}}
    </div>
</body>
</html>